body { 
    background-color: blanchedalmond;
    color: deeppink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    margin: 0;
}

header{
    background-color: deeppink;
    text-align: center;
    padding: 0px;
}

h1 { 
   font-size: large;
   color: blanchedalmond;
   font-weight: 700;
}

nav{ 
   display: flex;
   justify-content: center;
   font-weight: 400;
}

nav a { 
    text-decoration: deeppink;
    color: bisque;
    margin: auto;
    font-size: 0rem;
}

nav a:hover {
    text-decoration: darksalmon;
    transform: scale(0.90);
    transition: transforme 0.1s ;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deeppink;
    color: bisque;
    width: 100%;
    height: 3rem;
    margin-top: 0cm;
}